<div class="container">

  <div class="heading">
    <h1>Watch & Sunglasses Shop</h1>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Sed sapiente nobis necessitatibus veniam pariatur hic consequatur,
      voluptatum facere nihil corrupti explicabo perferendis quasi dicta odio.
      Soluta ratione perferendis commodi vero!
    </h3>
  </div>
  <hr>

  <div class="actions_cards">

    <mat-card>
      <mat-card-title>Sunglasses</mat-card-title>
      <img mat-card-image src="../../../assets/sunglass1.jfif">
      <div class="but_container">
        <div class="button" id="button-5">
          <div id="translate"></div>
          <a>Shop Sunglasses</a>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-title>Watches</mat-card-title>
      <img mat-card-image src="../../../assets/watch1.jfif">
      <div class="but_container">
        <div class="button" id="button-5">
          <div id="translate"></div>
          <a>Shop Watches</a>
        </div>
      </div>
    </mat-card>

  </div>

</div>
