<!-- Side navigation -->
<div class="sidenav">
  <a (click)="onClickShowHome()">Home</a>
  <hr>
  <a (click)="onClickShowProducts()">Products</a>
  <hr>
  <a (click)="onClickShowOrders()">Orders</a>
  <hr>
  <a (click)="onClickShowClients()">Clients</a>
  <hr>
  <a (click)="onClickLogout()">Logout</a>
</div>

<!-- Page content -->
<div class="main">

  <div class="dash_content">

    <div *ngIf="showHome">
      <app-admin-home></app-admin-home>
    </div>

    <div *ngIf="showProducts">
      <app-products></app-products>
    </div>

    <div *ngIf="showClients">
      <app-clients></app-clients>
    </div>

    <div *ngIf="showOrders">
      <app-orders></app-orders>
    </div>

  </div>

</div>
