<div class="products_container">

  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading">

    <div class="heading">
      <h1>Admin Dashboard - Products Page</h1>
    </div>
    <hr>

    <div class="tabs">

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Inventory">
          <app-inventory></app-inventory>
        </mat-tab>
        <mat-tab label="Add A Product">
          <app-add-product></app-add-product>
        </mat-tab>
        <mat-tab label="Remove A Product">
          <app-remove-product></app-remove-product>
        </mat-tab>
        <mat-tab label="Edit A Product">
          <app-edit-product></app-edit-product>
        </mat-tab>
      </mat-tab-group>

    </div>

  </div>

</div>
