@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
      width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
      width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
      width: 60%;
      margin-right: 20%;
      margin-left: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
      width: 65%;
      margin-right: 17.5%;
      margin-left: 17.5%;
  }
}

mat-spinner {
  margin: auto;
  margin-top: 30vh;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: black;
  opacity: 0.8;
}

$mat-myapp-primary: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-myapp-accent: (
  50 : #f5f5f5,
  100 : #e6e6e6,
  200 : #d5d5d5,
  300 : #c4c4c4,
  400 : #b8b8b8,
  500 : #ababab,
  600 : #a4a4a4,
  700 : #9a9a9a,
  800 : #919191,
  900 : #808080,
  A100 : #ffffff,
  A200 : #fbdfdf,
  A400 : #ffa8a8,
  A700 : #ff8f8f,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
